@font-face {
    font-family: "octicons";
    src: url("fonts/octicons.woff") format('woff');
}

.row {
    margin-top: 10px;
}

.h1 {
    float: left;
    height: 80px;
    line-height: 80px;
    margin: 0 50px 0 0;
}

.logos {
    float: left;
}

.logo {
    background: 50% 50% / 85% 85% no-repeat transparent;
    border-radius: 50%;
    float: left;
    height: 80px;
    margin: 0 0 0 20px;
    padding: 10px;
    width: 80px;
}
.logo:hover {
    background-color: #ddd;
    box-shadow: 0 0 10px 2px #ddd;
}

.logo.github {
    background-image: url(img/github_logo.png);
}
.logo.gitlab {
    background-image: url(img/gitlab_logo.svg);
}

.user_icon {
    /*border: 1px solid #333;*/
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px
}
.user_icon:hover {
    background-color: #333;
    color: white;
}

.actions_options {
    margin: 60px 0 0 0;
}

.row.issue {
    height: 60px;
}
.row.issue > .icon {
    line-height: 60px;
    text-align: center;
}
.row.issue .octicon {
    font-size: 26px;
}

/*ALERT*/
.alert.error {
    left: 25%;
    height: 150px;
    position: fixed;
    top: 100px;
    width: 50%;
}


/*FROM GITHUB*/
.octicon, .mega-octicon {
    font: normal normal normal 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.octicon-git-pull-request:before {
    content: '\f009';
}

.octicon-issue-opened:before {
    content: '\f026';
}

.octicon-issue-closed:before {
    content: '\f028';
}

.open.octicon {
    color: #6cc644;
}
.closed.octicon, .reverted.octicon {
    color: #bd2c00;
}

.octicon-comment-add:before, .octicon-comment:before {
    content: '\f02b';
}
