.row {
    margin-top: 10px;
}

.h1 {
    float: left;
    height: 80px;
    line-height: 80px;
    margin: 0 50px 0 0;
}

.logos {
    float: left;
}

.logo {
    background: 50% 50% / 85% 85% no-repeat transparent;
    border-radius: 50%;
    float: left;
    height: 80px;
    margin: 0 0 0 20px;
    padding: 10px;
    width: 80px;
}
.logo:hover {
    background-color: #ddd;
    box-shadow: 0 0 10px 2px #ddd;
}

.logo.github {
    background-image: url(img/github_logo.png);
}
.logo.gitlab {
    background-image: url(img/gitlab_logo.svg);
}

.user_icon {
    /*border: 1px solid #333;*/
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px
}
.user_icon:hover {
    background-color: #333;
    color: white;
}


/*ALERT*/
.alert.error {
    left: 25%;
    height: 150px;
    position: fixed;
    top: 100px;
    width: 50%;
}
